<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>KW</key>
	<string>Kuwait Listeni/kuːˈweɪt/ (Arabic: دولة الكويت‎‎ About this sound Dawlat al-Kuwait), officially the State of Kuwait, is a country in Western Asia. Situated in the northern edge of Eastern Arabia at the tip of the Persian Gulf it shares borders with Iraq and Saudi Arabia. As of 2014, Kuwait has a population of 4.2 million people; 1.3 million are Kuwaitis and 2.9 million are expatriates.[5]

Oil reserves were discovered in 1938. From 1946 to 1982, the country underwent large-scale modernization. In the 1980s, Kuwait experienced a period of geopolitical instability and an economic crisis following the stock market crash. In 1990, Kuwait was invaded by Iraq. The Iraqi occupation came to an end in 1991 after military intervention by United States-led forces. At the end of the war, there were extensive efforts to revive the economy and rebuild national infrastructure.</string>
	<key>SA</key>
	<string>Saudi Arabia[c] (Listeni/ˌsɔːdiː əˈreɪbiə/, Listeni/ˌsaʊ-/), officially known as the Kingdom of Saudi Arabia (KSA),[d] is an Arab state in Western Asia constituting the bulk of the Arabian Peninsula. With a land area of approximately 2,150,000 km2 (830,000 sq mi), Saudi Arabia is geographically the fifth-largest state in Asia and second-largest state in the Arab world after Algeria. Saudi Arabia is bordered by Jordan and Iraq to the north, Kuwait to the northeast, Qatar, Bahrain, and the United Arab Emirates to the east, Oman to the southeast, and Yemen to the south. It is separated from Israel and Egypt by the Gulf of Aqaba. It is the only nation with both a Red Sea coast and a Persian Gulf coast, and most of its terrain consists of arid inhospitable desert or barren landforms.

The area of modern-day Saudi Arabia formerly consisted of four distinct regions: Hejaz, Najd, and parts of Eastern Arabia (Al-Ahsa) and Southern Arabia (&apos;Asir).[10] The Kingdom of Saudi Arabia was founded in 1932 by Ibn Saud. He united the four regions into a single state through a series of conquests beginning in 1902 with the capture of Riyadh, the ancestral home of his family, the House of Saud. Saudi Arabia has since been an absolute monarchy, effectively a hereditary dictatorship governed along Islamic lines.[11][12]</string>
	<key>QA</key>
	<string>Qatar (/ˈkæˌtɑːr/,[8] Listeni/ˈkɑːtɑːr/, /ˈkɑːtər/ or Listeni/kəˈtɑːr/;[9] Arabic: قطر‎‎ Qaṭar [ˈqɑtˤɑr]; local vernacular pronunciation: [ɡɪtˤɑr]),[10][11] officially the State of Qatar (Arabic: دولة قطر‎‎ Dawlat Qaṭar), is a sovereign country located in Southwest Asia, occupying the small Qatar Peninsula on the northeastern coast of the Arabian Peninsula. Its sole land border is with Saudi Arabia to the south, with the rest of its territory surrounded by the Persian Gulf. A strait in the Persian Gulf separates Qatar from the nearby island of Bahrain, as well as sharing sea borders with the United Arab Emirates and Iran.

Following Ottoman rule, Qatar became a British protectorate in the early 20th century until gaining independence in 1971. Qatar has been ruled by the House of Thani since the early 19th century. Sheikh Jassim bin Mohammed Al Thani was the founder of the State of Qatar. Qatar is a hereditary monarchy and its head of state is Emir Sheikh Tamim bin Hamad Al Thani. Whether it should be regarded as a constitutional[12][13] or an absolute monarchy[14][15][16] is a matter of opinion. In 2003, the constitution was overwhelmingly approved in a referendum, with almost 98% in favour.[17][18] In 2013, Qatar&apos;s total population was 1.8 million: 278,000 Qatari citizens and 1.5 million expatriates.[19]</string>
	<key>UE</key>
	<string>The United Arab Emirates (Listeni/juːˌnaɪtᵻd ˌærəb ˈɛmɪrᵻts/; Arabic: دولة الإمارات العربية المتحدة‎‎ Dawlat al-Imārāt al-&apos;Arabīyah al-Muttaḥidah), sometimes simply called the Emirates or the UAE,[note 1] is a country located at the southeast end of the Arabian Peninsula on the Persian Gulf, bordering Oman to the east and Saudi Arabia to the south, as well as sharing sea borders with Qatar and Iran. In 2013, the UAE&apos;s total population was 9.2 million, of which 1.4 million are Emirati citizens and 7.8 million are expatriates.[8][9]

Established in December 1971, the country is a federation of seven emirates. The constituent emirates are Abu Dhabi (which serves as the capital), Ajman, Dubai, Fujairah, Ras al-Khaimah, Sharjah, and Umm al-Quwain. Each emirate is governed by an absolute monarch; together, they jointly form the Federal Supreme Council. One of the monarchs is selected as the President of the United Arab Emirates. Islam is the official religion of the UAE, and Arabic is the official language, although English is widely spoken and is the language of business and education, especially in Abu Dhabi and Dubai.</string>
</dict>
</plist>
